# Dependencies
node_modules/

# Build
dist/
src-tauri/target/

# Logs / OS
*.log
.DS_Store

# Env
.env
.env.*
!.env.example

# Editors
.idea/
.vscode/
*.swp

# Tauri
src-tauri/gen/

# Portable release staging
release-portable/
